
<%# including the header.ejs that is in the partial folder %>
<%- include partials/header.ejs %>


<h1>About</h1>
<p> <%=aboutContent %> <p>

<%# inlcuding the footer.ejs that is in the partial folder %>
<%- include partials/footer.ejs %>
